const TelegramBot = require('node-telegram-bot-api');
const fungsi = require('./app/function/function');
const console = require('./app/logs/console');

// Ganti token ini dengan token bot Anda
const token = 'YOUR_TOKEN';

// Buat instance bot
const bot = new TelegramBot(token, { polling: true });

require('import')(bot);

// errorHandling
bot.on('polling_error', (err) => {
    console.error(err);
})